---
const { ...offre } = Astro.props;
console.log(offre);
---

<div
  class="border-2 bg-indigo-100 border-indigo-900 pt-3 p-5 my-5 mx-5 rounded"
  x-data="{ open: false }"
>
  <button @click="open = ! open">
    <p class="font-bold text-xl pb-3">{offre.nom_maison}</p>
    <img
      class="full-width"
      src={offre.img}
      alt="image de la maison"
    />
  </button>
  
  <a href={`/offres/${offre.id}`}>Voir plus</a>

  <!-- <div x-show="open" x-transition>
    {offre.favori_maison && <p>🌟</p>}
    <p><span class="font-bold">Adresse: </span>{offre.adresse_maison}</p>
    <p><span class="font-bold">Prix: </span>{offre.prix_maison} €</p>
    <p><span class="font-bold">Surface: </span>{offre.superficie_maison} m2</p>
    <p>
      <span class="font-bold">Nombre de Chambres: </span>{offre.chambre_maison}
    </p>
    <p>
      <span class="font-bold">Nombre de salle de bain: </span>{
        offre.salledebain_maison
      }
    </p>
    
  </div> -->
</div>
