---
const { ...offre } = Astro.props;
console.log(offre);
---

<div
  class="border-2 bg-indigo-100 border-indigo-900 pt-5 p-5 my-5 mx-5 rounded"
  x-data="{ open: false }"
>
  <button @click="open = ! open"
    ><span class="font-bold">Nom: </span>{offre.nom_maison} →
  </button>

  <div x-show="open" x-transition>
    {offre.favori_maison && <p>🌟</p>}
    <p><span class="font-bold">Adresse: </span>{offre.adresse_maison}</p>
    <p><span class="font-bold">Prix: </span>{offre.prix_maison} €</p>
    <p><span class="font-bold">Surface: </span>{offre.superficie_maison} m2</p>
    <p>
      <span class="font-bold">Nombre de Chambres: </span>{offre.chambre_maison}
    </p>
    <p>
      <span class="font-bold">Nombre de salle de bain: </span>{
        offre.salledebain_maison
      }
    </p>
    <img src={offre.img} alt="image de la maison" class="w-1/2" />
  </div>
</div>
